# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.upgrade

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Develop scripts
go
god
godev
got
gotest

# Local editor configs
.idea
.vscode
*.json

# goreleaser
dist/

brookd-pforzheim*
foxy-ants-house-firebase-adminsdk-vxy7j-3eb32e2b99.json